<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2023 Ecological Footprint Analysis</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav id="eco-id">
        <h1>Ecological Footprint Analysis</h1>
        <div>
            <a href="/">Home</a>
            <a href="/global_ecological_footprint">Ecological Footprint</a>
            <a href="/api/v1.0/ecological_data">API</a>
        </div>
    </nav>

    <embed id="map" src="/embeded_map" type="">
    <div id="main"></div>

    <script src="https://cdn.plot.ly/plotly-2.34.0.min.js" charset="utf-8"></script>
    <script src="static/js/script.js"></script>
</body>
</html>